In [110]:
#pandas is for data manipulation and data analysis
import pandas as pd
#numpy mainly use for creation of array and 
import numpy as np
# sys system-specific parameters and functions that interact and are maintained by the Python interpreter
import sys
#This function can be used to increase the maximum recursion depth allowed in Python
#Also avoid prevents any program from getting into infinite recursion
sys.setrecursionlimit(1000)

In [111]:
#Importing the dataset
df = pd.read_csv('prosperLoanData.csv')

In [112]:
#Checking the top 5 data
df.head(5)

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,GroupKey,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper,FirstRecordedCreditLine,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage),TradesOpenedLast6Months,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,StatedMonthlyIncome,LoanKey,TotalProsperLoans,TotalProsperPaymentsBilled,OnTimeProsperPayments,ProsperPaymentsLessThanOneMonthLate,ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding,ScorexChangeAtTimeOfListing,LoanCurrentDaysDelinquent,LoanFirstDefaultedCycleNumber,LoanMonthsSinceOrigination,LoanNumber,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,NaN,NaN,NaN,NaN,0,CO,Other,Self-employed,2.0,True,True,NaN,2007-08-26 18:41:46.780000000,640.0,659.0,2001-10-11 00:00:00,5.0,4.0,12.0,1,24.0,3.0,3.0,2.0,472.0,4.0,0.0,0.0,0.0,0.00,1500.0,11.0,0.81,0.0,0.17,"$25,000-49,999",True,3083.333333,E33A3400205839220442E84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,78,19141,9425,2007-09-12 00:00:00,Q3 2007,1F3E3376408759268057EDA,330.43,11396.14,9425.00,1971.14,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,A,7.0,2,CO,Professional,Employed,44.0,False,False,NaN,2014-02-27 08:28:14,680.0,699.0,1996-03-18 00:00:00,14.0,14.0,29.0,13,389.0,3.0,5.0,0.0,0.0,0.0,1.0,0.0,3989.0,0.21,10266.0,29.0,1.00,2.0,0.18,"$50,000-74,999",True,6125.000000,9E3B37071505919926B1D82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,134815,10000,2014-03-03 00:00:00,Q1 2014,1D13370546739025387B2F4,318.93,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,NaN,NaN,NaN,NaN,0,GA,Other,Not available,NaN,False,True,783C3371218786870A73D20,2007-01-02 14:09:10.060000000,480.0,499.0,2002-07-27 00:00:00,NaN,NaN,3.0,0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,Not displayed,True,2083.333333,6954337960046817851BCB2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,86,6466,3001,2007-01-17 00:00:00,Q1 2007,5F7033715035555618FA612,123.32,4186.63,3001.00,1185.63,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,A,9.0,16,GA,Skilled Labor,Employed,113.0,True,False,NaN,2012-10-22 11:02:32,800.0,819.0,1983-02-28 00:00:00,5.0,5.0,29.0,7,115.0,0.0,1.0,4.0,10056.0,14.0,0.0,0.0,1444.0,0.04,30754.0,26.0,0.76,0.0,0.15,"$25,000-49,999",True,2875.000000,A0393664465886295619C51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,16,77296,10000,2012-11-01 00:00:00,Q4 2012,9ADE356069835475068C6D2,321.45,5143.20,4091.09,1052.11,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,D,4.0,2,MN,Executive,Employed,44.0,True,False,NaN,2013-09-14 18:38:44,680.0,699.0,2004-02-20 00:00:00,19.0,19.0,49.0,6,220.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,6193.0,0.81,695.0,39.0,0.95,2.0,0.26,"$100,000+",True,9583.333333,A180369302188889200689E,1.0,11.0,11.0,0.0,0.0,11000.0,9947.9,NaN,0,NaN,6,102670,15000,2013-09-20 00:00:00,Q3 2013,36CE356043264555721F06C,563.97,2819.85,1563.22,1256.63,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [113]:
df.shape #number of rows and columns

(113937, 81)

### Checking Duplicate data

In [ ]:
df.duplicated

In [115]:
df.drop_duplicates(inplace=True)

In [116]:
df.shape #No duplicate found

(113937, 81)

### Null percentage

In [117]:
df.isnull().sum()[df.isnull().sum() > 0]

CreditGrade                             84984
ClosedDate                              58848
BorrowerAPR                                25
EstimatedEffectiveYield                 29084
EstimatedLoss                           29084
EstimatedReturn                         29084
ProsperRating (numeric)                 29084
ProsperRating (Alpha)                   29084
ProsperScore                            29084
BorrowerState                            5515
Occupation                               3588
EmploymentStatus                         2255
EmploymentStatusDuration                 7625
GroupKey                               100596
CreditScoreRangeLower                     591
CreditScoreRangeUpper                     591
FirstRecordedCreditLine                   697
CurrentCreditLines                       7604
OpenCreditLines                          7604
TotalCreditLinespast7years                697
InquiriesLast6Months                      697
TotalInquiries                           1159
CurrentDelinquencies                      697
AmountDelinquent                         7622
DelinquenciesLast7Years                   990
PublicRecordsLast10Years                  697
PublicRecordsLast12Months                7604
RevolvingCreditBalance                   7604
BankcardUtilization                      7604
AvailableBankcardCredit                  7544
TotalTrades                              7544
TradesNeverDelinquent (percentage)       7544
TradesOpenedLast6Months                  7544
DebtToIncomeRatio                        8554
TotalProsperLoans                       91852
TotalProsperPaymentsBilled              91852
OnTimeProsperPayments                   91852
ProsperPaymentsLessThanOneMonthLate     91852
ProsperPaymentsOneMonthPlusLate         91852
ProsperPrincipalBorrowed                91852
ProsperPrincipalOutstanding             91852
ScorexChangeAtTimeOfListing             95009
LoanFirstDefaultedCycleNumber           96985
dtype: int64

In [118]:
# Below code gives percentage of null in every column
null_percentage = df.isnull().sum()[df.isnull().sum() > 0] * 100 / len(df)
null_percentage

CreditGrade                            74.588588
ClosedDate                             51.649596
BorrowerAPR                             0.021942
EstimatedEffectiveYield                25.526387
EstimatedLoss                          25.526387
EstimatedReturn                        25.526387
ProsperRating (numeric)                25.526387
ProsperRating (Alpha)                  25.526387
ProsperScore                           25.526387
BorrowerState                           4.840394
Occupation                              3.149109
EmploymentStatus                        1.979164
EmploymentStatusDuration                6.692295
GroupKey                               88.290898
CreditScoreRangeLower                   0.518708
CreditScoreRangeUpper                   0.518708
FirstRecordedCreditLine                 0.611742
CurrentCreditLines                      6.673864
OpenCreditLines                         6.673864
TotalCreditLinespast7years              0.611742
InquiriesLast6Months                    0.611742
TotalInquiries                          1.017229
CurrentDelinquencies                    0.611742
AmountDelinquent                        6.689662
DelinquenciesLast7Years                 0.868901
PublicRecordsLast10Years                0.611742
PublicRecordsLast12Months               6.673864
RevolvingCreditBalance                  6.673864
BankcardUtilization                     6.673864
AvailableBankcardCredit                 6.621203
TotalTrades                             6.621203
TradesNeverDelinquent (percentage)      6.621203
TradesOpenedLast6Months                 6.621203
DebtToIncomeRatio                       7.507658
TotalProsperLoans                      80.616481
TotalProsperPaymentsBilled             80.616481
OnTimeProsperPayments                  80.616481
ProsperPaymentsLessThanOneMonthLate    80.616481
ProsperPaymentsOneMonthPlusLate        80.616481
ProsperPrincipalBorrowed               80.616481
ProsperPrincipalOutstanding            80.616481
ScorexChangeAtTimeOfListing            83.387311
LoanFirstDefaultedCycleNumber          85.121602
dtype: float64

### Drop columns that have more than 60% nulls

In [119]:
#Below code gives list of columns having more than 60% null
col_to_drop = null_percentage[null_percentage>60].keys()

In [120]:
df.drop(col_to_drop, axis=1, inplace=True)

In [121]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper,FirstRecordedCreditLine,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage),TradesOpenedLast6Months,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,StatedMonthlyIncome,LoanKey,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanNumber,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,NaN,NaN,NaN,NaN,0,CO,Other,Self-employed,2.0,True,True,2007-08-26 18:41:46.780000000,640.0,659.0,2001-10-11 00:00:00,5.0,4.0,12.0,1,24.0,3.0,3.0,2.0,472.0,4.0,0.0,0.0,0.0,0.00,1500.0,11.0,0.81,0.0,0.17,"$25,000-49,999",True,3083.333333,E33A3400205839220442E84,0,78,19141,9425,2007-09-12 00:00:00,Q3 2007,1F3E3376408759268057EDA,330.43,11396.14,9425.00,1971.14,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,A,7.0,2,CO,Professional,Employed,44.0,False,False,2014-02-27 08:28:14,680.0,699.0,1996-03-18 00:00:00,14.0,14.0,29.0,13,389.0,3.0,5.0,0.0,0.0,0.0,1.0,0.0,3989.0,0.21,10266.0,29.0,1.00,2.0,0.18,"$50,000-74,999",True,6125.000000,9E3B37071505919926B1D82,0,0,134815,10000,2014-03-03 00:00:00,Q1 2014,1D13370546739025387B2F4,318.93,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,NaN,NaN,NaN,NaN,0,GA,Other,Not available,NaN,False,True,2007-01-02 14:09:10.060000000,480.0,499.0,2002-07-27 00:00:00,NaN,NaN,3.0,0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,Not displayed,True,2083.333333,6954337960046817851BCB2,0,86,6466,3001,2007-01-17 00:00:00,Q1 2007,5F7033715035555618FA612,123.32,4186.63,3001.00,1185.63,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,A,9.0,16,GA,Skilled Labor,Employed,113.0,True,False,2012-10-22 11:02:32,800.0,819.0,1983-02-28 00:00:00,5.0,5.0,29.0,7,115.0,0.0,1.0,4.0,10056.0,14.0,0.0,0.0,1444.0,0.04,30754.0,26.0,0.76,0.0,0.15,"$25,000-49,999",True,2875.000000,A0393664465886295619C51,0,16,77296,10000,2012-11-01 00:00:00,Q4 2012,9ADE356069835475068C6D2,321.45,5143.20,4091.09,1052.11,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,D,4.0,2,MN,Executive,Employed,44.0,True,False,2013-09-14 18:38:44,680.0,699.0,2004-02-20 00:00:00,19.0,19.0,49.0,6,220.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,6193.0,0.81,695.0,39.0,0.95,2.0,0.26,"$100,000+",True,9583.333333,A180369302188889200689E,0,6,102670,15000,2013-09-20 00:00:00,Q3 2013,36CE356043264555721F06C,563.97,2819.85,1563.22,1256.63,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [122]:
df.shape

(113937, 70)

### Convert columns like dates to their appropriate data types (e.g., datetime)

In [123]:
# set the max columns to none
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)
#pd.reset_option('display.max_rows')
# set the max columns to none
#pd.reset_option('display.max_columns')

In [124]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper,FirstRecordedCreditLine,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage),TradesOpenedLast6Months,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,StatedMonthlyIncome,LoanKey,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanNumber,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,NaN,NaN,NaN,NaN,0,CO,Other,Self-employed,2.0,True,True,2007-08-26 18:41:46.780000000,640.0,659.0,2001-10-11 00:00:00,5.0,4.0,12.0,1,24.0,3.0,3.0,2.0,472.0,4.0,0.0,0.0,0.0,0.00,1500.0,11.0,0.81,0.0,0.17,"$25,000-49,999",True,3083.333333,E33A3400205839220442E84,0,78,19141,9425,2007-09-12 00:00:00,Q3 2007,1F3E3376408759268057EDA,330.43,11396.14,9425.00,1971.14,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,A,7.0,2,CO,Professional,Employed,44.0,False,False,2014-02-27 08:28:14,680.0,699.0,1996-03-18 00:00:00,14.0,14.0,29.0,13,389.0,3.0,5.0,0.0,0.0,0.0,1.0,0.0,3989.0,0.21,10266.0,29.0,1.00,2.0,0.18,"$50,000-74,999",True,6125.000000,9E3B37071505919926B1D82,0,0,134815,10000,2014-03-03 00:00:00,Q1 2014,1D13370546739025387B2F4,318.93,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,NaN,NaN,NaN,NaN,0,GA,Other,Not available,NaN,False,True,2007-01-02 14:09:10.060000000,480.0,499.0,2002-07-27 00:00:00,NaN,NaN,3.0,0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,Not displayed,True,2083.333333,6954337960046817851BCB2,0,86,6466,3001,2007-01-17 00:00:00,Q1 2007,5F7033715035555618FA612,123.32,4186.63,3001.00,1185.63,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,A,9.0,16,GA,Skilled Labor,Employed,113.0,True,False,2012-10-22 11:02:32,800.0,819.0,1983-02-28 00:00:00,5.0,5.0,29.0,7,115.0,0.0,1.0,4.0,10056.0,14.0,0.0,0.0,1444.0,0.04,30754.0,26.0,0.76,0.0,0.15,"$25,000-49,999",True,2875.000000,A0393664465886295619C51,0,16,77296,10000,2012-11-01 00:00:00,Q4 2012,9ADE356069835475068C6D2,321.45,5143.20,4091.09,1052.11,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,D,4.0,2,MN,Executive,Employed,44.0,True,False,2013-09-14 18:38:44,680.0,699.0,2004-02-20 00:00:00,19.0,19.0,49.0,6,220.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,6193.0,0.81,695.0,39.0,0.95,2.0,0.26,"$100,000+",True,9583.333333,A180369302188889200689E,0,6,102670,15000,2013-09-20 00:00:00,Q3 2013,36CE356043264555721F06C,563.97,2819.85,1563.22,1256.63,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [125]:
# Converting date into datetime
df['ListingCreationDate']=df['ListingCreationDate'].str.split(' ').str.get(0)
df['ListingCreationDate']=pd.to_datetime(df['ListingCreationDate'])
df['ClosedDate']=df['ClosedDate'].str.split(' ').str.get(0)
df['ClosedDate']=pd.to_datetime(df['ClosedDate'])
df['DateCreditPulled']=df['DateCreditPulled'].str.split(' ').str.get(0)
df['DateCreditPulled']=pd.to_datetime(df['DateCreditPulled'])
df['FirstRecordedCreditLine']=df['FirstRecordedCreditLine'].str.split(' ').str.get(0)
df['FirstRecordedCreditLine']=pd.to_datetime(df['FirstRecordedCreditLine'])
df['LoanOriginationDate']=df['LoanOriginationDate'].str.split(' ').str.get(0)
df['LoanOriginationDate']=pd.to_datetime(df['LoanOriginationDate'])

### Split the dataset into 3 subset Numerical(num) , Categorical(cat) and Datetime

In [126]:
num = df.select_dtypes([int, float])

cat = df.select_dtypes([object])

datee = df.select_dtypes([np.datetime64])

### Transform LoanStatus column to binary values : 1 = Defaulted and 0 (all other values)

In [127]:
cat['LoanStatus'].unique()

array(['Completed', 'Current', 'Past Due (1-15 days)', 'Defaulted',
       'Chargedoff', 'Past Due (16-30 days)', 'Cancelled',
       'Past Due (61-90 days)', 'Past Due (31-60 days)',
       'Past Due (91-120 days)', 'FinalPaymentInProgress',
       'Past Due (>120 days)'], dtype=object)

In [128]:
def transform_to_binary(x):
    if x == 'Defaulted':
        return 1
    else:
        return 0

cat['LoanStatus'] = cat['LoanStatus'].apply(transform_to_binary)

In [129]:
cat['LoanStatus'].unique()

array([0, 1], dtype=int64)

### LoanOriginationQuarter has the number of quarter and year so we split it into 2 columns

In [130]:
cat.head(2)

,ListingKey,LoanStatus,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange,LoanKey,LoanOriginationQuarter,MemberKey
0,1021339766868145413AB3B,0,NaN,CO,Other,Self-employed,"$25,000-49,999",E33A3400205839220442E84,Q3 2007,1F3E3376408759268057EDA
1,10273602499503308B223C1,0,A,CO,Professional,Employed,"$50,000-74,999",9E3B37071505919926B1D82,Q1 2014,1D13370546739025387B2F4

In [131]:
cat['Quarter_Number'] = cat['LoanOriginationQuarter'].str.split(' ').str.get(0)
cat['LoanOriginationQuarter'] = cat['LoanOriginationQuarter'].str.split(' ').str.get(1)

In [132]:
cat.head(2)

,ListingKey,LoanStatus,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange,LoanKey,LoanOriginationQuarter,MemberKey,Quarter_Number
0,1021339766868145413AB3B,0,NaN,CO,Other,Self-employed,"$25,000-49,999",E33A3400205839220442E84,2007,1F3E3376408759268057EDA,Q3
1,10273602499503308B223C1,0,A,CO,Professional,Employed,"$50,000-74,999",9E3B37071505919926B1D82,2014,1D13370546739025387B2F4,Q1

### EmploymentStatus has a lot of values so we restrict it int 3 values Empolyed ,Not Employed,Retired

In [133]:
cat['EmploymentStatus'].unique()

array(['Self-employed', 'Employed', 'Not available', 'Full-time', 'Other',
       nan, 'Not employed', 'Part-time', 'Retired'], dtype=object)

In [134]:
cat['EmploymentStatus'] = cat['EmploymentStatus'].replace({
    'Self-employed':'Employed',
    'Full-time':'Employed',
    'Other':'Employed',
    'Part-time':'Employed',
    'Not available':'Not employed',
    np.nan: 'Not employed'
})

In [135]:
cat['EmploymentStatus'].unique()

array(['Employed', 'Not employed', 'Retired'], dtype=object)

In [136]:
cat.head(5)

,ListingKey,LoanStatus,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange,LoanKey,LoanOriginationQuarter,MemberKey,Quarter_Number
0,1021339766868145413AB3B,0,NaN,CO,Other,Employed,"$25,000-49,999",E33A3400205839220442E84,2007,1F3E3376408759268057EDA,Q3
1,10273602499503308B223C1,0,A,CO,Professional,Employed,"$50,000-74,999",9E3B37071505919926B1D82,2014,1D13370546739025387B2F4,Q1
2,0EE9337825851032864889A,0,NaN,GA,Other,Not employed,Not displayed,6954337960046817851BCB2,2007,5F7033715035555618FA612,Q1
3,0EF5356002482715299901A,0,A,GA,Skilled Labor,Employed,"$25,000-49,999",A0393664465886295619C51,2012,9ADE356069835475068C6D2,Q4
4,0F023589499656230C5E3E2,0,D,MN,Executive,Employed,"$100,000+",A180369302188889200689E,2013,36CE356043264555721F06C,Q3

### Data Encoding
### Perform label encoding for binary categorical columns

In [137]:
# Label Encoding 
#            is a technique that is used to convert categorical columns into numerical ones
#            so that they can be fitted by machine learning models which only take numerical data. 
#            It is an important pre-processing step in a machine-learning project.

In [138]:
cat['Occupation'].unique()

array(['Other', 'Professional', 'Skilled Labor', 'Executive',
       'Sales - Retail', 'Laborer', 'Food Service', 'Fireman',
       'Waiter/Waitress', 'Construction', 'Computer Programmer',
       'Sales - Commission', 'Retail Management', 'Engineer - Mechanical',
       'Military Enlisted', 'Clerical', nan, 'Teacher', 'Clergy',
       'Accountant/CPA', 'Attorney', 'Nurse (RN)', 'Analyst',
       "Nurse's Aide", 'Investor', 'Realtor', 'Flight Attendant',
       'Nurse (LPN)', 'Military Officer', 'Food Service Management',
       'Truck Driver', 'Administrative Assistant',
       'Police Officer/Correction Officer', 'Social Worker',
       'Tradesman - Mechanic', 'Medical Technician', 'Professor',
       'Postal Service', 'Civil Service', 'Pharmacist',
       'Tradesman - Electrician', 'Scientist', 'Dentist',
       'Engineer - Electrical', 'Architect', 'Landscaping',
       'Tradesman - Carpenter', 'Bus Driver', 'Tradesman - Plumber',
       'Engineer - Chemical', 'Doctor', 'Chemist',
       'Student - College Senior', 'Principal', "Teacher's Aide",
       'Pilot - Private/Commercial', 'Religious', 'Homemaker',
       'Student - College Graduate Student', 'Student - Technical School',
       'Psychologist', 'Biologist', 'Student - College Sophomore',
       'Judge', 'Student - College Junior', 'Car Dealer',
       'Student - Community College', 'Student - College Freshman'],
      dtype=object)

In [139]:
# Import label encoder 
from sklearn.preprocessing import LabelEncoder

In [140]:
# Label encoder object knows how to understabd word labels
label_encoder = LabelEncoder()

In [141]:
# Encode labels in column 'Ocupation'
cat['Occupation'] = label_encoder.fit_transform(cat['Occupation'])

In [142]:
cat['Occupation'].unique()

array([35, 41, 50, 19, 48, 27, 22, 20, 66, 13, 12, 47, 46, 18, 30, 11, 67,
       59, 10,  0,  4, 33,  2, 34, 25, 44, 21, 32, 31, 23, 65,  1, 38, 51,
       63, 29, 42, 39,  9, 36, 62, 49, 14, 17,  3, 28, 61,  6, 64, 16, 15,
        8, 55, 40, 60, 37, 45, 24, 53, 58, 43,  5, 56, 26, 54,  7, 57, 52])

In [143]:
# Reverse the label encoding in python (optional):
# If you need to reverse the label encoding 
# and convert the numerical labels back into their original categorical form, you can use the following:

#cat['Occupation'] = label_encoder.inverse_transform(cat['Occupation'])

In [144]:
cat['EmploymentStatus'].unique()

array(['Employed', 'Not employed', 'Retired'], dtype=object)

In [145]:
# Encode labels in column 'EmploymentStatus'
cat['EmploymentStatus'] = label_encoder.fit_transform(cat['EmploymentStatus'])

In [146]:
cat['EmploymentStatus'].unique()

array([0, 1, 2])

In [147]:
cat['BorrowerState'].unique()

array(['CO', 'GA', 'MN', 'NM', 'KS', 'CA', 'IL', 'MD', nan, 'AL', 'AZ',
       'VA', 'FL', 'PA', 'OR', 'MI', 'NY', 'LA', 'WI', 'OH', 'NC', 'WA',
       'NV', 'NJ', 'TX', 'AR', 'SC', 'DE', 'MO', 'NE', 'UT', 'DC', 'MA',
       'CT', 'IN', 'KY', 'OK', 'MS', 'WV', 'RI', 'TN', 'ID', 'MT', 'HI',
       'NH', 'VT', 'WY', 'ME', 'AK', 'IA', 'SD', 'ND'], dtype=object)

In [148]:
# Encode labels in column 'BorrowerState'
cat['BorrowerState'] = label_encoder.fit_transform(cat['BorrowerState'])

In [149]:
cat['BorrowerState'].unique()

array([ 5, 10, 23, 32, 16,  4, 14, 20, 51,  1,  3, 45,  9, 38, 37, 22, 34,
       18, 48, 35, 27, 47, 33, 31, 43,  2, 40,  8, 24, 29, 44,  7, 19,  6,
       15, 17, 36, 25, 49, 39, 42, 13, 26, 11, 30, 46, 50, 21,  0, 12, 41,
       28])

In [150]:
cat['ProsperRating (Alpha)'].unique()

array([nan, 'A', 'D', 'B', 'E', 'C', 'AA', 'HR'], dtype=object)

In [151]:
# Encode labels in column 'BorrowerState'
cat['BorrowerState'] = label_encoder.fit_transform(cat['BorrowerState'])

### one-hot encoding
### Apply one-hot encoding for multi-category columns to convert them into numeric features

In [152]:
#  One Hot Encoding is a method for converting categorical variables into a binary format. 
#  It creates new columns for each category where 1 means the category is present and 0 means it is not. 
#  The primary purpose of One Hot Encoding is to 
#  ensure that categorical data can be effectively used in machine learning models.

In [153]:
from sklearn.preprocessing import OneHotEncoder

In [154]:
# creating one hot encoder object
onehotencoder = OneHotEncoder()

# reshape the 1-D country array to 2-D as fit_transform expects 2-D and fit the encoder
X = onehotencoder.fit_transform(cat.Quarter_Number.values.reshape(-1, 1)).toarray()

In [155]:
# Convert the Transformed Data into a DataFrame and Concatenate it with the Original DataFrame

# Creating a DataFrame with the encoded data
dfOneHot = pd.DataFrame(X, columns=["Quarter_Number_" + str(int(i)) for i in range(X.shape[1])])

# Concatenating the original DataFrame with the encoded DataFrame
cat = pd.concat([cat, dfOneHot], axis=1)

In [156]:
cat.head()

,ListingKey,LoanStatus,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange,LoanKey,LoanOriginationQuarter,MemberKey,Quarter_Number,Quarter_Number_0,Quarter_Number_1,Quarter_Number_2,Quarter_Number_3
0,1021339766868145413AB3B,0,NaN,5,35,0,"$25,000-49,999",E33A3400205839220442E84,2007,1F3E3376408759268057EDA,Q3,0.0,0.0,1.0,0.0
1,10273602499503308B223C1,0,A,5,41,0,"$50,000-74,999",9E3B37071505919926B1D82,2014,1D13370546739025387B2F4,Q1,1.0,0.0,0.0,0.0
2,0EE9337825851032864889A,0,NaN,10,35,1,Not displayed,6954337960046817851BCB2,2007,5F7033715035555618FA612,Q1,1.0,0.0,0.0,0.0
3,0EF5356002482715299901A,0,A,10,50,0,"$25,000-49,999",A0393664465886295619C51,2012,9ADE356069835475068C6D2,Q4,0.0,0.0,0.0,1.0
4,0F023589499656230C5E3E2,0,D,23,19,0,"$100,000+",A180369302188889200689E,2013,36CE356043264555721F06C,Q3,0.0,0.0,1.0,0.0

In [157]:
num.head()

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,ListingCategory (numeric),EmploymentStatusDuration,CreditScoreRangeLower,CreditScoreRangeUpper,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage),TradesOpenedLast6Months,DebtToIncomeRatio,StatedMonthlyIncome,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,193129,36,0.16516,0.1580,0.1380,NaN,NaN,NaN,NaN,NaN,0,2.0,640.0,659.0,5.0,4.0,12.0,1,24.0,3.0,3.0,2.0,472.0,4.0,0.0,0.0,0.0,0.00,1500.0,11.0,0.81,0.0,0.17,3083.333333,0,78,19141,9425,330.43,11396.14,9425.00,1971.14,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,1209647,36,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,7.0,2,44.0,680.0,699.0,14.0,14.0,29.0,13,389.0,3.0,5.0,0.0,0.0,0.0,1.0,0.0,3989.0,0.21,10266.0,29.0,1.00,2.0,0.18,6125.000000,0,0,134815,10000,318.93,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,81716,36,0.28269,0.2750,0.2400,NaN,NaN,NaN,NaN,NaN,0,NaN,480.0,499.0,NaN,NaN,3.0,0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,2083.333333,0,86,6466,3001,123.32,4186.63,3001.00,1185.63,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,658116,36,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,9.0,16,113.0,800.0,819.0,5.0,5.0,29.0,7,115.0,0.0,1.0,4.0,10056.0,14.0,0.0,0.0,1444.0,0.04,30754.0,26.0,0.76,0.0,0.15,2875.000000,0,16,77296,10000,321.45,5143.20,4091.09,1052.11,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,909464,36,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,4.0,2,44.0,680.0,699.0,19.0,19.0,49.0,6,220.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,6193.0,0.81,695.0,39.0,0.95,2.0,0.26,9583.333333,0,6,102670,15000,563.97,2819.85,1563.22,1256.63,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

### Concatenate Numerical(num) , Categorical(cat) and Datetime again into Dataset

In [158]:
df = pd.concat([cat, num, datee], axis=1)

In [159]:
df.head()

,ListingKey,LoanStatus,ProsperRating (Alpha),BorrowerState,Occupation,EmploymentStatus,IncomeRange,LoanKey,LoanOriginationQuarter,MemberKey,Quarter_Number,Quarter_Number_0,Quarter_Number_1,Quarter_Number_2,Quarter_Number_3,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,ListingCategory (numeric),EmploymentStatusDuration,CreditScoreRangeLower,CreditScoreRangeUpper,CurrentCreditLines,OpenCreditLines,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,InquiriesLast6Months,TotalInquiries,CurrentDelinquencies,AmountDelinquent,DelinquenciesLast7Years,PublicRecordsLast10Years,PublicRecordsLast12Months,RevolvingCreditBalance,BankcardUtilization,AvailableBankcardCredit,TotalTrades,TradesNeverDelinquent (percentage),TradesOpenedLast6Months,DebtToIncomeRatio,StatedMonthlyIncome,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors,ListingCreationDate,ClosedDate,DateCreditPulled,FirstRecordedCreditLine,LoanOriginationDate
0,1021339766868145413AB3B,0,NaN,5,35,0,"$25,000-49,999",E33A3400205839220442E84,2007,1F3E3376408759268057EDA,Q3,0.0,0.0,1.0,0.0,193129,36,0.16516,0.1580,0.1380,NaN,NaN,NaN,NaN,NaN,0,2.0,640.0,659.0,5.0,4.0,12.0,1,24.0,3.0,3.0,2.0,472.0,4.0,0.0,0.0,0.0,0.00,1500.0,11.0,0.81,0.0,0.17,3083.333333,0,78,19141,9425,330.43,11396.14,9425.00,1971.14,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258,2007-08-26,2009-08-14,2007-08-26,2001-10-11,2007-09-12
1,10273602499503308B223C1,0,A,5,41,0,"$50,000-74,999",9E3B37071505919926B1D82,2014,1D13370546739025387B2F4,Q1,1.0,0.0,0.0,0.0,1209647,36,0.12016,0.0920,0.0820,0.07960,0.0249,0.05470,6.0,7.0,2,44.0,680.0,699.0,14.0,14.0,29.0,13,389.0,3.0,5.0,0.0,0.0,0.0,1.0,0.0,3989.0,0.21,10266.0,29.0,1.00,2.0,0.18,6125.000000,0,0,134815,10000,318.93,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1,2014-02-27,NaT,2014-02-27,1996-03-18,2014-03-03
2,0EE9337825851032864889A,0,NaN,10,35,1,Not displayed,6954337960046817851BCB2,2007,5F7033715035555618FA612,Q1,1.0,0.0,0.0,0.0,81716,36,0.28269,0.2750,0.2400,NaN,NaN,NaN,NaN,NaN,0,NaN,480.0,499.0,NaN,NaN,3.0,0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.06,2083.333333,0,86,6466,3001,123.32,4186.63,3001.00,1185.63,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41,2007-01-05,2009-12-17,2007-01-02,2002-07-27,2007-01-17
3,0EF5356002482715299901A,0,A,10,50,0,"$25,000-49,999",A0393664465886295619C51,2012,9ADE356069835475068C6D2,Q4,0.0,0.0,0.0,1.0,658116,36,0.12528,0.0974,0.0874,0.08490,0.0249,0.06000,6.0,9.0,16,113.0,800.0,819.0,5.0,5.0,29.0,7,115.0,0.0,1.0,4.0,10056.0,14.0,0.0,0.0,1444.0,0.04,30754.0,26.0,0.76,0.0,0.15,2875.000000,0,16,77296,10000,321.45,5143.20,4091.09,1052.11,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158,2012-10-22,NaT,2012-10-22,1983-02-28,2012-11-01
4,0F023589499656230C5E3E2,0,D,23,19,0,"$100,000+",A180369302188889200689E,2013,36CE356043264555721F06C,Q3,0.0,0.0,1.0,0.0,909464,36,0.24614,0.2085,0.1985,0.18316,0.0925,0.09066,3.0,4.0,2,44.0,680.0,699.0,19.0,19.0,49.0,6,220.0,1.0,9.0,0.0,0.0,0.0,0.0,0.0,6193.0,0.81,695.0,39.0,0.95,2.0,0.26,9583.333333,0,6,102670,15000,563.97,2819.85,1563.22,1256.63,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20,2013-09-14,NaT,2013-09-14,2004-02-20,2013-09-20

In [160]:
df.shape

(113937, 72)

### Handling Outliers

#### Identify outliers in numeric columns using statistical methods.
#### Cap extreme values to the 1st and 99th percentiles to reduce the influence of outliers.